<h1>Welcome to Hydrogen Password!</h1>

 {{#paper-button raised=true primary=true href=(href-to 'vaults.add')}}Import Existing Vault{{/paper-button}}
 {{#paper-button raised=true href=(href-to 'vaults.new')}}Create New Vault{{/paper-button}}
{{outlet}}